table{
   margin-left: auto;
   margin-right: auto;
}
td{
    border: 2px solid grey;
    width: 150px;
    height: 100px;

    color: darkred;
    text-align: center;
}
h1{
    text-align: center;
    font-size: x-large;
    color: darkred;
}
#index02{
    border-top: none;
    border-right: none;
}
#index12{
    border-top: none;
    border-right: none;
}
#index22{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
#index00{
    border-top: none;
    border-left: none;
    border-right: none;
}
#index10{
    border-top: none;
    border-left: none;
    border-right: none;
}
#index20{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
#index01{
    border-top: none;
    border-right: none;
}
#index11{
    border-top: none;
    border-right: none;
}
#index21{
    border-top: none;
    border-right: none;
    border-bottom: none;
}


